body{
    margin: 0;
    font-family: "Josefin Slab", serif;
    overflow-x: hidden;
}
header{
    background-color: #FF862F;
    width: 100%;
    height: 120px;
    margin: 0;
}

#logo{
    width: 10%;
    height: 15%;
    position: absolute;
    left: 650px;
}


#img1{
    position: absolute;
    width: 3%;
    height:5%;
    top: 50px;
    left: 30px;   
}

#img2{
    position: absolute;
    width: 3%;
    height:5%;
    top: 25px;
    left: 120px;   
}

#img3{
    position: absolute;
    width: 3%;
    height:5%;
    top: 50px;
    left: 210px;   
}

#img4{
    position: absolute;
    width: 3%;
    height:5%;
    top: 25px;
    left: 300px;   
}

#img5{
    position: absolute;
    width: 3%;
    height:5%;
    top: 50px;
    left: 390px;   
}

#img6{
    position: absolute;
    width: 3%;
    height:5%;
    top: 25px;
    left: 480px;   
}

#img7{
    position: absolute;
    width: 3%;
    height:5%;
    top: 50px;
    left: 570px;   
}

#img8{
    position: absolute;
    width: 3%;
    height:5%;
    top: 25px;
    left: 660px;   
}

#img9{
    position: absolute;
    width: 3%;
    height:5%;
    top: 50px;
    left: 750px;   
}

#img10{
    position: absolute;
    width: 3%;
    height:5%;
    top: 25px;
    left: 840px;   
}

#img11{
    position: absolute;
    width: 3%;
    height:5%;
    top: 50px;
    left: 930px;   
}

#img12{
    position: absolute;
    width: 3%;
    height:5%;
    top: 25px;
    left: 1020px;   
}

#img13{
    position: absolute;
    width: 3%;
    height:5%;
    top: 50px;
    left: 1110px;   
}

#img14{
    position: absolute;
    width: 3%;
    height:5%;
    top: 25px;
    left: 1200px;   
}

#img15{
    position: absolute;
    width: 3%;
    height:5%;
    top: 50px;
    left: 1290px;   
}

.menu{
    display: flex;
}

.Racas{
    background-color: #D6E8F7;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    margin-left: 270px;
    margin-top: 40px;
    
    a{
        text-decoration: none;
        color: #000;
    }

    h2{
        margin-left: 100px;
        margin-top: 20px;       
    }

    img{
        align-items: center;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        margin-left: 40px;
    }
}

.Racas:hover{
    transform: scale(1.08);
    transition: all 0.4s;
    background-color:  #d45f0b;

    a{
    color: #FEFFEF;
    }
}

.Nomes{
    background-color: #D6E8F7;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    margin-left: 50px;
    margin-top: 40px;

    a{
        text-decoration: none;
        color: #000;
    }

    h2{
        margin-left: 100px;
        margin-top: 20px;      
    }

    img{
        align-items: center;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        margin-left: 40px;
    }
}

.Nomes:hover{
    transform: scale(1.08);
    transition: all 0.4s;
    background-color:  #d45f0b;

    a{
    color: #FEFFEF;
    }
}

.Curiosidades{
    background-color: #D6E8F7;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    margin-left: 50px;
    margin-top: 40px;

    a{
        text-decoration: none;
        color: #000;
    }

    h2{
        margin-left: 70px;
        margin-top: 20px;     
    }

    img{
        align-items: center;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        margin-left: 40px;
    }
}

.Curiosidades:hover{
    transform: scale(1.08);
    transition: all 0.4s;
    background-color:  #d45f0b;

    a{
    color: #FEFFEF;
    }
}

.fundolaranja{
    background-color: #FF862F;
    height: 620px;
    width: 100%;
    margin-top: 40px;
}

.fundolaranja img{
    width: 100%;
    height: 550px;
    margin-top: 35px;
}

.fundo-wellcome{
    background-color: #FEFFEF;
    width: 20%;
    padding: 10px;
    position: absolute;
    left: 90px;
    top: 650px; 
    border-radius: 15px;    
}

.fundo-wellcome p{
    max-width: 240px; 
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    margin-left: 20px;
    font-weight: 400;
}

.rastro{
    margin-left: 20px;
    margin-top: 40px;
}

.fundolaranja2{
    padding: 10px;
    background-color: #FF862F;
    width: 100%;
    margin-top: 40px;

    h1{
        text-align: center;
        font-size: 48px;
        font-weight: 400;
    }

    p{
        max-width: 70%;
        font-size: 30px;
        margin-left: 15%;
        text-align: center;
    }
}

.social-media{
    display: flex;
    color: #FEFFEF;
    margin-left: 38%;

    img{
        width: 10%;
        height: 10%;
    }

    h2{
        margin-left: -10px;
        margin-top: 30px;
        font-size: 30px;
    }
}